Adafruit-Blinka==8.24.0
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-fancyled==1.4.18
adafruit-circuitpython-neopixel==6.3.10
adafruit-circuitpython-pixelbuf==2.0.3
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-PlatformDetect==3.53.0
Adafruit-PureIO==1.1.11
astroid==3.0.1
circuitpython-stubs==8.2.7
dill==0.3.7
gevent==23.9.1
greenlet==3.0.1
isort==5.12.0
mccabe==0.7.0
platformdirs==3.11.0
pyftdi==0.55.0
pylint==3.0.2
pyserial==3.5
pyusb==1.2.1
tomlkit==0.12.1
typing_extensions==4.8.0
zope.event==5.0
zope.interface==6.1
